<launch>
  <!-- URDF -->
  <param name="robot_description"
         command="$(find xacro)/xacro $(find field_robot_description)/urdf/field_robot.urdf.xacro" />

  <!-- robot_state_publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="50.0"/>
  </node>

  <!-- rosserial STM32 -->
  <arg name="stm32_port" default="/dev/ttyUSB1"/>
  <arg name="stm32_baud" default="115200"/>

  <node pkg="rosserial_python" type="serial_node.py" name="stm32_serial" output="screen">
    <param name="port" value="$(arg stm32_port)"/>
    <param name="baud" value="$(arg stm32_baud)"/>
  </node>
</launch>
